{% extends "base.html" %}

{% block title %}{{wiki.name}} - {% if doc %}Editing {{doc.id}}{% else %}Editing new page{% end %}{% end %}

{% block body %}
<form id="edit" method="post" action="/wiki/{{url_escape(wiki.name)}}/doc{% if doc %}/{{doc.id}}{% end %}">
  {% module xsrf_form_html() %}
  <div class="editbuttons">
    {% if doc %}
    <a href="/wiki/{{url_escape(wiki.name)}}/doc/{{doc.id}}">Cancel</a>
    {% end %}
    <input type="submit" value="Save" title="Save the document (Ctrl-S)">
  </div>
  <div class="clear"></div>

  {% if doc %}
  <textarea name="content">{{ doc.version.content }}</textarea>
  {% else %}
  <textarea name="content" codemirror-focus-end="true">{% if title != None %}title: {{title}}
{% end %}</textarea>
  {% end %}


</form>

<div style="display:none;">
  <input id="wikiname" value="{{url_escape(wiki.name)}}">
  <form id="xsrf_data">
    {% module xsrf_form_html() %}
  </form>
</div>

{% end %}

{% block sidebar %}
{% include "wikisidebar.html" %}
<div class="sidebox">
  What links here:
  {% for i, backlink in enumerate(backlinks) %}
    <a href="/wiki/{{url_escape(wiki.name)}}/title/{{url_escape(backlink)}}{% if title %}#link-{{url_escape(title)}}{% end %}">{{backlink.title()}}</a>{{ ',' if i + 1 < len(backlinks) else '' }}
  {% end %}
  {% if not backlinks %}
    <em>nothing</em>
  {% end %}
</div>
<div class="sidebox">
  Editing reference: &bull; Ctrl-S saves immediately &bull; Markdown
  formatting is MathJax-enabled &bull; 'Title:' at the beginning
  produces a wiki-linkable title &bull; Wikilinks use the [[...]] and
  [[...|label]] format &bull; Paste or drop images or documents into
  the text area to upload
</div>
{% end %}
