{% comment   expects doc,content,meta to be set %}

<article id="doc-{{doc.id}}" class="{% if doc.temp %} version{% end %}{% if doc.deleted %} deleted{% end %}">
<div class="actions">
{% if doc.deleted %}<span><strong>This is deleted.</strong></span>{% end %}
{% if doc.temp %}<span><em>This is a version.</em></span>{% end %}
  {% if not doc.temp %}
    {% if doc.version.mime == "text/texdown" %}
      <a href="/wiki/{{url_escape(wiki.name)}}/edit/{{doc.id}}">Edit</a>
    {% else %}
      <a href="/wiki/{{url_escape(wiki.name)}}/upload/{{doc.id}}">Upload</a>
    {% end %}
  {% else %}
  <a href="/wiki/{{url_escape(wiki.name)}}/fork/{{doc.version.id}}">Fork</a>
  {% end %}
</div>
{% if 'title' in meta %}<h1>{{ ' '.join(meta['title']) }}</h1>
  {% if not title %}
    <div><a href="/wiki/{{url_escape(wiki.name)}}/title/{{url_escape(meta['title'][0])}}">Go to wiki page</a></div>
  {% end %}
{% end %}

{% if doc.temp %}
  {% set vdocs = [vdoc for vdoc in doc.version.docs() if not vdoc.deleted] %}
  {% if vdocs %}
    <div>Doc id:
      {% for vdoc in vdocs %}
        <a href="/wiki/{{url_escape(wiki.name)}}/doc/{{vdoc.id}}">{{vdoc.id}}</a>
      {% end %}
    </div>
  {% end %}

  {% set parents = doc.version.parent_ids() %}
  {% if parents %}
    <div>Older version:
    {% for i, parent in enumerate(parents) %}
      <a href="/wiki/{{url_escape(wiki.name)}}/version/{{parent['id']}}"><span class="timestamp">{{parent['created']}}</a>{{ ',' if i + 1 < len(parents) else ''}}
    {% end %}
    </div>
  {% end %}
{% end %}
{% set children = doc.version.child_ids() %}
{% if children %}
  <div>Newer version:
  {% for i, child in enumerate(children) %}
    <a href="/wiki/{{url_escape(wiki.name)}}/version/{{child['id']}}"><span class="timestamp">{{child['created']}}</a>{{ ',' if i + 1 < len(children) else ''}}
  {% end %}
  </div>
{% end %}

{% raw content %}

<div class="bottom-actions">
{% if doc.uuid %}
<div class="bottom-uuid">uuid:{{doc.uuid}}</div>
{% end %}

<ul>
{% if not doc.temp %}
  {% if doc.version.mime == "text/texdown" %}
    <li><a href="/wiki/{{url_escape(wiki.name)}}/edit/{{doc.id}}">Edit</a></li>
  {% end %}
<!--<li><a href="/wiki/{{url_escape(wiki.name)}}/versions/{{doc.id}}">Versions</a></li>-->
<li><a href="/wiki/{{url_escape(wiki.name)}}/version/{{doc.version.id}}">This version</a></li>
<li><a href="/wiki/{{url_escape(wiki.name)}}/doc/{{doc.id}}">This document</a></li>
 {% if doc.deleted %}
  <li><a href="/wiki/{{url_escape(wiki.name)}}/undelete/{{doc.id}}">Undelete</a></li>
 {% else %}
  <li><a href="/wiki/{{url_escape(wiki.name)}}/delete/{{doc.id}}">Delete</a></li>
 {% end %}
{% else %}
{% end if %}
{% if doc.id %}
  <li><a href="/wiki/{{url_escape(wiki.name)}}/file/d/{{doc.id}}">Raw</a></li>
{% else %}
  <li><a href="/wiki/{{url_escape(wiki.name)}}/file/v/{{doc.version.id}}">Raw</a></li>
{% end %}
<li><a href="/wiki/{{url_escape(wiki.name)}}/fork/{{doc.version.id}}">Fork</a></li>
</ul>
</div>
</article>

