<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/notes.css">
    <script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/static/underscore-min.js"></script>
    <link rel="stylesheet" href="/static/codemirror-4.11/lib/codemirror.css">
    <script type="text/javascript" src="/static/codemirror-4.11/lib/codemirror.js"></script>
    <script type="text/javascript" src="/static/codemirror-4.11/addon/display/placeholder.js"></script>
<!--    <script type="text/javascript" src="/static/keys.js"></script>-->
<!--    <script type="text/javascript" src="/static/fuzzydate.js"></script>-->
<!--    <script type="text/javascript" src="/static/tm.js"></script>-->
    <link rel="shortcut icon" href="/static/favicon.png">
    <title>Notes</title>
  </head>
  <body>
    Hello!
  </body>
</html>
