<div class="sidebox">
  In wiki <a href="/wiki/{{url_escape(wiki.name)}}">{{wiki.name}}</a>
  <form id="search" action="/wiki/{{url_escape(wiki.name)}}/search" method="get">
    {% module xsrf_form_html() %}
    <input name="q" type="text" placeholder="Search"><input type="submit" value="Go">
  </form>
  <ul>
    <li><a href="/wiki/{{url_escape(wiki.name)}}/edit">Create new page</a></li>
    <li><a href="/wiki/{{url_escape(wiki.name)}}/changes">Recent changes</a></li>
    <li><a href="/wiki/{{url_escape(wiki.name)}}/title/main+page">Main page</a></li>
  </ul>
</div>
